<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <display-name>SchedulingProjectBackend</display-name>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>myPackage1.LoginFilter</filter-class>
    <init-param>
      <param-name>avoid-urls</param-name>
      <param-value>/LoginServlet,/Login.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
    <filter>
    <filter-name>UserTypeFilter</filter-name>
    <filter-class>myPackage1.UserTypeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserTypeFilter</filter-name>
    <url-pattern>/UserTypeFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>myPackage1.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CMForms</servlet-name>
    <servlet-class>myPackage1.CMForms</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePassServlet</servlet-name>
    <servlet-class>myPackage1.ChangePassServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Uploads</servlet-name>
    <servlet-class>fineuploader.UploadReceiver</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadsUR</servlet-name>
    <servlet-class>fineuploader.UploadReceiverUR</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadsRS</servlet-name>
    <servlet-class>fineuploader.UploadReceiverRS</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>myPackage1.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>myPackage1.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Uploads</servlet-name>
    <url-pattern>/uploads/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadsUR</servlet-name>
    <url-pattern>/uploadsUR/*</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>UploadsRS</servlet-name>
    <url-pattern>/uploadsRS/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePassServlet</servlet-name>
    <url-pattern>/ChangePassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CMForms</servlet-name>
    <url-pattern>/CMForms</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
</web-app>